.main-chat
  .main-chat__group-info
    .group-box
      .group-box__group-name
        =@group.name
      .group-box__group-members
        Members :
      .group-box__group-members__list
        - @group.users.each do |user|
          = user.name
    .edit-box
      = link_to "Edit", edit_group_path(@group), class: "edit-btn"
        
  .main-chat__message-list
    = render @messages
    
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-message', placeholder: 'type a message'
      .message-form__typing-box
        = f.label :image, class: 'typing-box__photo' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'photo'
        = f.submit 'Send', class: 'message-form__submit-btn'